---
layout: page
title: KawShon Portfolio
heading: Software Apps Portfolio
---

<div class="progress-container">
  <div class="progress-bar" id="indicatorBar" style="width: 1%"></div>
</div>  

<section onscroll="scrollIndicator()" class="main-section mb-4" style="display: inline-block;overflow: auto;height: 540px">
  {% for item in site.data.portfolio-software.projects %}
    <div class="work mb-4">
      {% if item.urldeployed != "Archived" %}
      <a href="{{ item.urldeployed }}">
        <u><em>Deployed {{ item.title }}</em></u>
      </a>
      {% else %}
      <a>
        <u><em>Archived {{ item.title }}</em></u>  
      </a>
      {% endif %}
      <a class="float-right" href="{{ item.urlrepo }}">
        <u><em>GitHub Repo</em></u>
      </a>
      {% if item.urldeployed != "Archived" %}
      <a href="{{ item.urldeployed }}">
      {% else %}
      <a>
      {% endif %}
        <img src="{{ item.img }}" alt="{{ item.title }}">
        <div>
          -{{ item.description }}
          <br>
          -{{ item.role }}
          <br>
          -{{ item.tech }}
        </div>
      </a>
    </div>
  {% endfor %}
</section>
